<!-- HEADER -->
<header id="pageTop" class="header navbar-fixed-top">

  <!-- TOP INFO BAR -->

  <div class="nav-wrapper">

    <div class="container-fluid header-bg">
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-6 header-left empty">empty
        </div>
        <div class="col-lg-8 col-sm-8 col-xs-6 header-right empty">empty
        </div>
      </div>
    </div>

    <!-- NAVBAR -->
    <nav id="menuBar" class="navbar navbar-default lightHeader animated" role="navigation">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><%= image_tag("img/logo-blue.png", alt: "logo") %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
	            <li class=""><a href="blog.html">blog </a></li>
              <li class=" dropdown megaDropMenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ubicacion<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="row dropdown-menu">
                  <li class="col-sm-4 col-xs-12">
                    <ul class="list-unstyled">
                        <li><h5>Region Metropolitana</h5></li>
                        <li><a href="category-grid.html">Santiago</a></li>
                        <li><a href="category-grid-right.html">Las Condes</a></li>
                        <li><a href="category-grid-full.html">Providencia</a></li>
                        <li><h5>Antofagasta</h5></li>
                        <li><a href="category-list-left.html">Antofagasta</a></li>
                        <li><a href="category-list-right.html">Calama</a></li>
                        <li><a href="category-list-full.html">Sierra Gorda</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-4 col-xs-12">
                    <ul class="list-unstyled">
                        <li><h5>Valparaiso</h5></li>
                        <li><a href="listing-sidebar-map-left.html">Calera</a></li>
                        <li><a href="listing-sidebar-map-right.html">Casa Blanca</a></li>
                        <li><a href="listing-sidebar-map-full.html">Cartagena</a></li>
                        <li><h5>Coquimbo</h5></li>
                        <li><a href="listing-details-left.html">Coquimbo</a></li>
                        <li><a href="listing-details-right.html">La Serena</a></li>
                        <li><a href="listing-details-full.html">Ovalle</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-4 col-xs-12">
                    <ul class="list-unstyled">
                        <li class="mega-img">
                            <a href=""><%= image_tag("img/works/works-big-3.png", alt: "") %></a>
                        </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class=" dropdown singleDrop">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servicios <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="dashboard.html">Trato de Novia</a></li>
                  <li><a href="add-listings.html">Acompanante</a></li>
                  <li><a href="edit-listings.html">Streptease</a></li>
                  <li><a href="listings.html">Orginas</a></li>
                  <li><a href="profile.html">Lesbico</a></li>
                  <li><a href="oders.html">Juguetes</a></li>
                  <li><a href="oders.html">Fiestas</a></li>
                  <li><a href="oders.html">Duplex</a></li>
                  <li><a href="oders.html">Besos</a></li>
                  <li><a href="oders.html">Fantasias sexuales</a></li>
                </ul>
              </li>
              
              <li class=" dropdown singleDrop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filtros<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li><a href="contact-us.html">Fotos certificadas</a></li>
                  <li><a href="terms-of-services.html">Videos</a></li>
                  <li><a href="sign-up.html">Chat</a></li>
                  <li><a href="login.html">Modelos</a></li>
                  <li><a href="pricing-table.html">Universitarias</a></li>
                  <li><a href="payment-process.html">Primera vez</a></li>
                  <li><a href="how-it-works.html">Maduras</a></li>
                </ul>
              </li>
              <li class="dropdown singleDrop">
	                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Para anunciar <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="index.html">Condiciones</a></li>
                  <li><a href="index-2.html">Precios y Formas de Pago</a></li>
                  <li><a href="index-3.html">Contactanos</a></li>
                </ul>
              </li>
              
            </ul>
        </div>
        <button class="btn btn-default navbar-btn" type="button" data-toggle="modal" data-target="#loginModal"> + <span>Anunciate</span> </button>
      </div>
    </nav>
  </div>
</header>

<!-- BANNER SECTION -->
<section class="clearfix homeBanner" style="background-image: url(<%= asset_path "img/background/home.jpg" %>);">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="banerInfo">
					<h1>Elige que te interesa</h1>
					<p>Te ayudamos con lo que estas buscando</p>
					<form class="form-inline" action="listing-sidebar-map-left.html" method="">
						<div class="form-group">
							<div class="input-group">
								<button type="submit" class="btn btn-primary">Mujeres <i class="fa fa-venus" aria-hidden="true"></i></button>
							</div>
						</div>

						<div class="form-group">
							<div class="input-group">
								<button type="submit" class="btn btn-primary">Hombres <i class="fa fa-mars" aria-hidden="true"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>