<!-- LOGIN SECTION -->
<section class="clearfix loginSection" style="margin-top: 80px">
	<div class="container">
		<% flash.each do |message_type, message| %>
		  <div class="alert alert-<%= message_type %>"><%= message %></div>
		<% end %>
		<div class="row">
			<div class="center-block col-md-5 col-sm-6 col-xs-12">
				<div class="panel panel-default loginPanel">
					<div class="panel-heading text-center">Members log in</div>
					<div class="panel-body">
						<%= render 'shared/formlogin' %>
					</div>
					<div class="panel-footer text-center">
						<p>No eres miembro todavia? <%= link_to "Sign up now!", signup_path, class: "link" %> y Anunciate</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
