<!-- LOGIN  MODAL -->
<div id="loginModal" tabindex="-1" class="modal fade" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Log In to your Account</h4>
    </div>
    <div class="modal-body">
    	<%= render 'shared/formlogin' %>
    </div>
    <div class="modal-footer">
      <p>Don’t have an Account? <a href="#" class="link">Sign up</a></p>
    </div>
  </div>

</div>
</div>