<div class="row">
	<div class="col-xs-12" style="height: 20px;">
		<div class="bg-search">
			<form class="form-inline" action="category-grid.html" method="">
				<div class="form-group">
					<input type="text" class="form-control" id="enterYourWord" placeholder="¿Que estas buscando?">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="enterLocation" placeholder="¿Donde?">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Buscar <i class="fa fa-search" aria-hidden="true"></i></button>
				</div>
			</form>
		</div>
	</div>
</div>